# .editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
max_line_length = 80
ij_visual_guides = 80

# General purpose
[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
ij_continuation_indent_size = 4

[*.{java,c,h,cpp,hpp,cc}]
indent_size = 2
continuation_indent_size = 4
ij_continuation_indent_size = 4

# Scripting
[*.{sh,py,pyi}]
indent_size = 4
continuation_indent_size = 4
ij_continuation_indent_size = 4

# Web
[*.{js,ts,html,css}]
indent_size = 2
continuation_indent_size = 4
ij_continuation_indent_size = 4

# Data formats
[*.{xml,json,yaml}]
indent_size = 2
continuation_indent_size = 4
ij_continuation_indent_size = 4

# Docs
[*.{tex,bib,md}]
indent_size = 2
continuation_indent_size = 4
ij_continuation_indent_size = 4

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# IntelliJ Kotlin code style
[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_assignment_wrap = on_every_item
ij_kotlin_keep_blank_lines_before_right_brace = 0
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_line_breaks = true
ij_kotlin_method_call_chain_wrap = on_every_item
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
