# .editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
indent_style = space

# Classic languages
[*.{sh,py,pyi,kt,kts}]
indent_size = 4
continuation_indent_size = 4

[*.{java,c,h,cpp,hpp,cc}]
indent_size = 2
continuation_indent_size = 4

# Functional languages
[*.{scala}]
indent_size = 2
continuation_indent_size = 4

# Web toolkit
[*.{js,html,css}]
indent_size = 2
continuation_indent_size = 4

# Data formats
[*.{xml,json,yaml}]
indent_size = 2
continuation_indent_size = 4

# Docs
[*.{tex,bib,md}]
indent_size = 2
continuation_indent_size = 4

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
