# ~/.exports: this file contains exported preferences for interactive shells.

# Prefer Bash as shell.
export SHELL='/bin/bash'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Make Vim the default editor.
export EDITOR='vim'

# Make Firefox the default browser.
export BROWSER='firefox'

# Export the JRE for apps that rely on `$JAVA_HOME`.
export JAVA_HOME=$(readlink -e "/usr/bin/java" | sed "s:/bin/java::")
