# ~/.exports: this file contains exported preferences for interactive shells.

# Prefer Bash as shell.
export SHELL='/bin/bash'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Make Vim the default editor.
export EDITOR='vim'

# Make Firefox the default browser.
export BROWSER='firefox'

# Export `readline` config file.
export INPUTRC="${XDG_CONFIG_HOME:-$HOME/.config}/readline/inputrc"

# Export `ripgrep` config file.
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/ripgrep/ripgreprc"

# Make `fzf` use `ripgrep`.
export FZF_DEFAULT_COMMAND='rg --files'

# Export `wget` config file.
export WGETRC="${XDG_CONFIG_HOME:-$HOME/.config}/wget/wgetrc"

# Remove after bundled `less` is at least version `600`.
export LESSHISTFILE="${XDG_DATA_HOME:-$HOME/.local/share}/lesshst"

# Export `calc` history file.
export CALCHISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/calc_history"

# Export LaTeX directories.
export TEXMFHOME="${XDG_DATA_HOME:-$HOME/.local/share}/texmf"
export TEXMFVAR="${XDG_CACHE_HOME:-$HOME/.cache}/texlive/texmf-var"
export TEXMFCONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/texlive/texmf-config"
export TEXMACS_HOME_PATH="${XDG_STATE_HOME:-$HOME/.local/state}/texmacs"

# Export the JRE for apps that rely on `$JAVA_HOME`.
export JAVA_HOME=$(readlink -e "/usr/bin/java" | sed "s:/bin/java::")

# Export local Maven repository.
export MAVEN_OPTS="-Dmaven.repo.local='${XDG_DATA_HOME:-$HOME/.local/share}/maven/repository'"

# Export directory for Gradle global config properties, caches, logs, etc.
export GRADLE_USER_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/gradle"

# Export Go path.
export GOPATH="${XDG_DATA_HOME:-$HOME/.local/share}/go"
