#!/bin/usr/env bash

# A calculator which redirects the given operation to python.
function calc() {
    [ "$#" -ne 1 ] && echo "Usage: $0 expression" && return
    python3 -c "from math import *; print($1)"
}

# Output to stderr.
function echoerr() {
    echo "$@" 1>&2
}

# Pop-up given message after the specified amount of time.
function remindme() {
    if zenity --help &>/dev/null; then
        [ "$#" -ne 2 ] && echo "Usage: $0 duration message" && return
        local pattern="^[[:digit:]]+[smhd]?$"
        if [[ ! "$1" =~ $pattern ]]; then
            echo "Invalid duration!" && return
        fi
        ( nohup sleep $1 &>/dev/null && \
            zenity --info --text "$2" &>/dev/null & )
    else
        echo "zenity not installed!"
    fi
}
