[user]
    name = Andrei Heidelbacher
    email = andrei.heidelbacher@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto
    grep = auto

[credential "https://github.com"]
    username = andreihh
