[user]
    name = Andrei Heidelbacher
    email = andrei.heidelbacher@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto
    grep = auto

[alias]
    xl = log --graph --all --decorate --oneline

[credential "https://github.com"]
    username = andreihh
    helper = store

[submodule]
    recurse = true
