" ~/.ideavimrc

source ~/.vimrc

" Enable ideajoin plugin.
set ideajoin

" Enable using the system clipboard from IdeaVIM and vice-versa.
set clipboard+=ideaput

" IDE actions.
" Ideally, these should all be noremap, but that's not currently supported.

" Cycle through completion menu with <C-n> and <C-p>.
" Currently, this is not supported by IdeaVIM, and the EditorDown/Up actions
" don't work as expected.
"imap <C-n> <Action>(EditorDown)
"imap <C-p> <Action>(EditorUp)

" Window, tab, and pane control actions.
nmap <Leader>n <Action>(NewElement)
nmap <Leader>x <Action>(CloseContent)
nmap <Leader>h <Action>(NextTab)
nmap <Leader>l <Action>(PreviousTab)
nmap <Leader><Esc> <Action>(HideAllWindows)

" Code navigation and manipulation actions.
nmap <Leader>f <Action>(FindUsages)
nmap <Leader>q <Action>(QuickJavaDoc)
nmap <Leader>p <Action>(ParameterInfo)
nmap <Leader>r <Action>(RenameElement)
nmap <Leader>R <Action>(RefactoringMenu)
nmap <Leader>m <Action>(Move)
nmap <Leader>d <Action>(GotoDeclaration)
nmap <Leader>g <Action>(GotoImplementation)
nmap <Leader>s <Action>(GotoSuperMethod)
nmap <Leader>j <Action>(Back)
nmap <Leader>k <Action>(Forward)
nmap <Leader>o <Action>(OptimizeImports)
nmap <Leader>= <Action>(ReformatCode)
nmap <Leader>b <Action>(ShowNavBar)
nmap <Leader>e <Action>(RunAnything)
nmap <Leader><Tab> <Action>(SearchEverywhere)
nmap [m <Action>(MethodUp)
nmap ]m <Action>(MethodDown)

" These actions must work in insert mode as well.
nmap <A-CR> <Action>(ShowIntentionActions)
nmap <C-Space> <Action>(SmartTypeCompletion)
" Currently, IdeaVIM doesn't properly return to insert mode when using the
" <Action>() syntax.
imap <A-CR> <C-o>:action ShowIntentionActions<CR>
imap <C-Space> <C-o>:action SmartTypeCompletion<CR>

" Tool window actions.
nnoremap <A-1> :NERDTree<CR>
nmap <A-2> <Action>(ActivateStructureToolWindow)
nmap <A-3> <Action>(ActivateTerminalToolWindow)
nmap <A-4> <Action>(ActivateFindToolWindow)
nmap <A-5> <Action>(ActivateVersionControlToolWindow)
nmap <A-8> <Action>(ActivateRunToolWindow)
nmap <A-9> <Action>(ActivateDebugToolWindow)
nmap <F11> <Action>(ToggleFullScreen)

" Debugging actions.
nmap <F1> <Action>(ToggleLineBreakpoint)
nmap <F2> <Action>(ShowExecutionPoint)
nmap <F3> <Action>(StepOver)
nmap <F4> <Action>(StepInto)
nmap <F5> <Action>(StepOut)
nmap <F6> <Action>(RunToCursor)
nmap <F7> <Action>(EvaluateExpression)
nmap <F8> <Action>(Resume)
nmap <F9> <Action>(Stop)
nmap <F10> <Action>(ViewBreakpoints)

" IdeaVIM doesn't work when focusing tool windows, so their shortcuts (except
" ActivateProjectToolWindow) need to be overridden in the IDE keymap as well:
" - Keymap > Main Menu > Window > Active Tool Window > Hide All Tool Windows
" - Keymap > Tool Windows > ...

" Other keymaps:
" - Editor actions:
"   - Down: Ctrl-n
"   - Up: Ctrl-p
" - Main menu:
"   - Edit:
"     - Copy: Ctrl-c
"     - Cut: Ctrl-x
"     - Delete: Delete
"     - Paste: Ctrl-v
"
" Other settings:
" - View:
"   - Active Editor:
"     - Show Breadcrumbs: off
"   - Tool Buttons: off, bring back temporarily with Alt-Alt
"   - Toolbar: off
"   - Status Bar: on
"   - Navigation Bar: off
" - Editor:
"   - General:
"     - Editor Tabs:
"       - Placement: None
" - Tools:
"   - Terminal:
"     - Override IDE shortcuts: on
" - Tool Buttons:
"   - All tool windows except Favorites, Event Log and TODO have Split Mode off
"   - Placement:
"     - Left: Project, Structure, Favorites
"     - Bottom: Terminal, Find, Version Control, Run, Debug, TODO, Event Log
