" .ideavimrc

source ~/.vimrc

" Enable vim-surround plugin.
set surround

" Unmap vim bracket autocomplete because it is the default behavior in IntelliJ.
" Currently, unmap is not supported by IdeaVIM.
iunmap {<CR>

" Cycle through completion menu with <C-n> and <C-p>.
" Currently, this is not supported by IdeaVIM, and the EditorDown/Up actions
" don't work as expected.
"inoremap <C-n> <Down>
"inoremap <C-p> <Up>

" IDE actions.
nnoremap <Space>f :action FindUsages<CR>
nnoremap <Space>q :action QuickJavaDoc<CR>
nnoremap <Space>p :action ParameterInfo<CR>
nnoremap <Space>r :action RenameElement<CR>
nnoremap <Space>m :action Move<CR>
nnoremap <Space>d :action GotoDeclaration<CR>
nnoremap <Space>g :action GotoImplementation<CR>
nnoremap <Space>s :action GotoSuperMethod<CR>
nnoremap <Space>j :action Back<CR>
nnoremap <Space>k :action Forward<CR>
nnoremap <Space>o :action OptimizeImports<CR>
nnoremap <Space>= :action ReformatCode<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap <A-s> :action SearchEverywhere<CR>
nnoremap <A-n> :action ShowNavBar<CR>
nnoremap <A-i> :action NewElement<CR>
nnoremap <A-t> :action ViewToolBar<CR>
nnoremap <F11> :action ToggleFullScreen<CR>

" Other keymaps:
" - Editor actions:
"   - Down: Ctrl-n
"   - Up: Ctrl-p
" - Main menu:
"   - Edit:
"     - Copy: Ctrl-c
"     - Cut: Ctrl-x
"     - Delete: Delete
"     - Paste: Ctrl-v
"   - Code:
"     - Completion:
"       - SmartType: Ctrl-Space
"   - Window:
"     - Active Tool Window:
"       - Hide All Windows: Alt-Esc
" - Tool windows:
"   - Project: Alt-1
"   - Terminal: Alt-2
"   - Find: Alt-3
"   - Version Control: Alt-4
"   - Structure: Alt-5
"   - Event Log: None
"   - Favorites: None
"   - Run: Alt-8
"   - Debug: Alt-9
" - Other:
"  - Show Intention Actions: Alt-Enter
"  - Search Everywhere: Alt-s, Shift-Shift
"    - Next tab: Tab
"    - Prev tab: Shift-Tab
" Other settings:
" - View:
"   - Active Editor:
"     - Show Breadcrumbs: off
"   - Tool Buttons: off, bring back temporarily with Alt-Alt
"   - Toolbar: off, toggle with Alt-t
"   - Status Bar: on
"   - Navigation Bar: off, toggle with Alt-n
" - Editor:
"   - General:
"     - Editor Tabs:
"       - Placement: None
" - Tools:
"   - Terminal:
"     - Override IDE shortcuts: on
" - All tool windows have Split Mode off
