! ~/.Xresources
!
! Configures X programs. Reload changes with `xrdb ~/.Xresources`.

! Set the terminal name and ensure color support.
XTerm.termName: xterm-256color
*customization: -color

! Define 256-colors ANSI scheme to match JetBrains Darcula theme.

! Black: 236:Grey19 / 238:Grey27
XTerm*color0: rgb:30/30/30
XTerm*color8: rgb:44/44/44

! Red: 167:IndianRed / 179:LightGoldenrod3
XTerm*color1: rgb:d7/5f/5f
XTerm*color9: rgb:d7/af/5f

! Green: 101:Wheat4 / 65:DarkSeaGreen4
XTerm*color2: rgb:87/87/5f
XTerm*Color10: rgb:5f/87/5f

! Yellow: 172:Orange3 / 142:Gold3
XTerm*color3: rgb:d7/87/00
XTerm*Color11: rgb:af/af/00

! Blue: 67:SteelBlue / 146:LightSteelBlue3
XTerm*color4: rgb:5f/87/af
XTerm*color12: rgb:af/af/d7

! Magenta: 97:MediumPurple3 / 140:MediumPurple2
XTerm*color5: rgb:5f/5f/87
XTerm*color13: rgb:af/87/d7

! Cyan: 23:DeepSkyBlue4 / 66:PaleTurquoise4
XTerm*color6: rgb:00/5f/5f
XTerm*color14: rgb:5f/87/87

! White: 243:Grey46 / 145:Grey69
XTerm*color7: rgb:76/76/76
XTerm*color15: rgb:af/af/af

! Special
! Foreground, Cursor: 145:Grey69
! Background: 235:Grey15
XTerm*foreground: rgb:af/af/af
XTerm*background: rgb:26/26/26
XTerm*cursorColor: rgb:af/af/af

! Do not use bright colors for bold.
XTerm*boldMode: true
XTerm*boldColors: false

! Use a truetype font and size.
*faceName: JetBrainsMono Nerd Font
*faceSize: 11

! Enable blinking cursor.
*cursorBlink: true

! Enable wrapping.
*autoWrap: true
*reverseWrap: true

! Start maximized by default.
*maximized: true

! Always use standard UTF-8.
*locale: false
*utf8: 1
*eightBitInput: false

! Allow using Alt for keyboard shortcuts.
*metaSendsEscape: true

! Copy selection to clipboard.
*selectToClipboard: true

! Allow `tmux` to use system clipboard.
XTerm*disallowedWindowOps: 20,21,SetXprop

! Common shortcuts:
! - Select URI with double-click
! - Paste with Alt-p
! - Exit with Ctrl-q
! - Open clipboard URI with right-click
*VT100*translations: #override \n\
  Alt <Key>p: insert-selection(CLIPBOARD) \n\
  Ctrl <Key>q: quit() \n\
  <Btn3Down>: exec-formatted("xdg-open '%t'", CLIPBOARD) \n

! Remove Alt-Enter keybinding.
*omitTranslation: fullscreen
