! ~/.Xresources
!
! Configures X programs. Reload changes with `xrdb ~/.Xresources`.

! Set the terminal name and ensure color support.
XTerm.termName: xterm-256color
*customization: -color

! Define 256-colors ANSI scheme to match JetBrains Darcula theme.

! Black
XTerm*color0: rgb:30/30/30
XTerm*color8: rgb:44/44/44

! Red
XTerm*color1: rgb:d7/5f/5f
XTerm*color9: rgb:ff/87/87

! Green
XTerm*color2: rgb:5f/87/5f
XTerm*Color10: rgb:af/af/00

! Yellow
XTerm*color3: rgb:d7/87/00
XTerm*color11: rgb:d7/af/5f

! Blue
XTerm*color4: rgb:5f/87/af
XTerm*color12: rgb:87/af/ff

! Magenta
XTerm*color5: rgb:af/87/d7
XTerm*color13: rgb:d7/af/ff

! Cyan
XTerm*color6: rgb:00/87/87
XTerm*color14: rgb:00/af/af

! White
XTerm*color7: rgb:6c/6c/6c
XTerm*color15: rgb:af/af/af

! Special
XTerm*foreground: rgb:af/af/af
XTerm*background: rgb:26/26/26
XTerm*cursorColor: rgb:af/af/af

! Do not use bright colors for bold.
XTerm*boldMode: true
XTerm*boldColors: false

! Use a truetype font and size.
*faceName: Monospace
*faceSize: 11

! Enable blinking cursor.
*cursorBlink: true

! Enable wrapping.
*autoWrap: true
*reverseWrap: true

! Start maximized by default.
*maximized: true

! Always use standard UTF-8.
*locale: false
*utf8: 1
*eightBitInput: false

! Allow using Alt for keyboard shortcuts.
*metaSendsEscape: true

! Copy selection to clipboard.
*selectToClipboard: true

! Allow `tmux` to use system clipboard.
XTerm*disallowedWindowOps: 20,21,SetXprop

! Common shortcuts:
! - Select URI with double-click
! - Paste with Alt-p
! - Exit with Ctrl-q
! - Open clipboard URI with right-click
*VT100*translations: #override \n\
  Alt <Key>p: insert-selection(CLIPBOARD) \n\
  Ctrl <Key>q: quit() \n\
  <Btn3Down>: exec-formatted("xdg-open '%t'", CLIPBOARD) \n

! Remove Alt-Enter keybinding.
*omitTranslation: fullscreen
