# theme.sh: configures shell theme.
#
# shellcheck shell=sh

export NVIM_THEME="{{ theme.nvim | default(theme.name) }}"
export VIM_THEME="{{ theme.vim | default(theme.name) }}"
export BAT_THEME="{{ theme.name }}"
. "${XDG_CONFIG_HOME}/fzf/themes/{{ theme.name }}.sh"
